body{
  font-family: Noto, "Noto Sans", serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
@font-face {
  font-family: 'Noto';
  src: url('/src/assets/font/static/NotoSansSC-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

